body{
    margin:0;
    background-color:darkgray;
    }h1{
      text-align:center;
      }h2{
      text-align:center;
    
}img{
    margin-right:80%;
  width: 120px;
  height:150px;
  border-radius:100px;
  }audio{
  width: 300px;
  height: 300x;
  }video{
  width:300px ;
  height: 300px;
}
